<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header">Green Dog Delivery <small>Painel de controle</small></h1>
	<div layout:fragment="content" class="container">
	 <div class="jumbotron">
		<a th:href="@{/ambiente/}" class="btn btn-lg btn-info">Ambiente</a>
	    <a th:href="@{/h2}" class="btn btn-lg btn-info">H2 Console</a>
		<a th:href="@{/api/browser/index.html#/api/}"class="btn btn-lg btn-info">HAL Browser</a>
		<a th:href="@{/clientes/}" class="btn btn-lg btn-primary">Cadastro de clientes</a>
		<a th:href="@{/itens/}" class="btn btn-lg btn-primary">Cadastro de itens</a>
		<a th:href="@{/pedidos/}" class="btn btn-lg btn-primary">Cadastro de pedidos</a>
		<a href="http://livereload.com" class="btn btn-lg btn-info">LiveReload</a>
		<a th:href="@{/delivery/}" class="btn btn-lg btn-info">Delivery</a
>
		
	 </div>
	</div>
</body>
</html>